a:hover{
    color: var(--hover-color);
}

.back-to-home{
    position:absolute;
    top:25px;
    left:30px;
    z-index:40;
    display:flex;
    gap:10px;
    align-items:center;
}

.back-to-home i{
    font-size:18px;
}
label{
    font-size:14px;
    font-weight:700;
}
.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    color: var(--font-color-main);
    display: grid;
    gap: 35px;
    z-index: 10;
}
.container h2{
    text-align:center;
}

.form-change-password{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
    height:275px;
}
.form-group{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--bg-color-boxtype) inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: var(--font-color-main);
}

input{
    background:var(--bg-color-boxtype);
    border:none;
    outline:none;
    border-radius:10px;
}
input:focus{
    box-shadow: 0 0 3px var(--hover-color);
}
input[type=text],
input[type=password]{
    width:100%;
    height:28px;
    padding:5px 10px;
    color: var(--font-color-main);
    caret-color: var(--font-color-main);
}

.checkbox{
    display:flex;
    align-items:center;
    gap:5px;
}
label[for=RememberMe]{
    font-size:12px;
}

.form-group:last-of-type{
    margin: auto 0 0 0;
}
.form-group:last-of-type div{
    display:flex;
    justify-content:center;
}
input[type=submit] {
    padding: 7px 25px;
    color: var(--font-color-main);
    box-shadow: inset 0 0 0 0 var(--hover-color);
    transition: ease-out 0.3s;
}
input[type=submit]:hover{
    box-shadow: inset 160px 0 0 0 var(--hover-color);
}


.form-login > p a:hover{
    color: var(--hover-color);
}

.text-danger {
    font-size: 10px;
    color: rgb(255, 98, 98);
}
