@*@using Microsoft.AspNet.Identity*@
@model string
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav-log">
        <li style="transform:rotateY(180deg);"><a href="javascript:document.getElementById('logoutForm').submit()"><i class="uil uil-signout"></i></a></li>
        <li>
            @Html.ActionLink(Model, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
    </ul>
    }
}
else
{
    <ul class="nav-log">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
