@model ProjectTwo.Models.ManageDbModels.Group
<li class="link">
    <input type="hidden" name="groupId" value="@Model.GroupId" />
    <div class="image">
        @if (Model.GroupImg != null)
        {
            <img src="@Model.GroupImg" />
        }
        else
        {
            @Model.GroupName.Substring(0, 2);
        }
    </div>
    <span class="tooltip">@Model.GroupName</span>
</li>
